[Unit]
Description=Expose aws tags as fleet metadata.
Before=fleet.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run \
	-v /etc/fleet:/etc/fleet \
	roboll/aws-fleet-metadata
Type=oneshot
RemainAfterExit=true
