[Unit]
Description=Expose aws tags and metadata as fleet metadata.
Before=fleet.service

[Service]
ExecStartPre=/usr/bin/curl -sL -o /bin/aws-fleet-metadata \
  https://github.com/roboll/aws-fleet-metadata/releases/download/v1.0/aws-fleet-metadata-linux-amd64
ExecStartPre=/usr/bin/chmod +x /bin/aws-fleet-metadata
ExecStart=/bin/aws-fleet-metadata -o /etc/fleet-metadata
Type=oneshot
